*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.4)) , url(images/donation0.jpg);
    min-height: 100vh;
    background-size: cover;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.header-content h1{
    font-size: 60px;
    font-weight: 800;
}
.header-content p{
    margin-top: 15px;
    margin-bottom: 35px;
}
.btn-donate{
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    border: #ee3232;
    background-color: #ee3232;
    border-radius: 5px;
}
.container{
    margin-top: 100px;
    text-align: center;
}
.container .h-contain{
    font-size: 40px;
    font-weight: 900;
}
.container .item-text{
    margin-top: 10px;
    margin-bottom: 25px;
    color: rgba(42, 46, 49, 0.459);
    font-size: 20px;
}
.item-container{
    padding: 50px;
    display: flex;
    justify-content:  center;
    gap: 15px;
}
.taka-container{
    padding: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #00000094;
    background: #f5deb329;
    border-radius: 5px;
}
.abnormal{
    color: #ee3232;
    font-size: 20px;
    font-weight: 400;
    padding: 30px;
    background: #e9626226;
    border: 1px solid red;
    border-radius: 5px;
}
.text-other{
    color: #b5b0a7eb;
}
hr{
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 21%;
    margin-right: 21%;
}